#main {

 width: 100%;
 height: 450px;
 border-radius: 20px;
 margin: 40px 20px;
 padding: 20px 20px;
 display: flex;
 align-items: center;
 justify-content: left;
 color: white;

}

.firstDiv {
 background-position: top;
background-color: rgba(0, 0, 0, 0.459);
background-blend-mode: soft-light;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 background-size: cover;
 background-position: center;
 height: 100%;
 width: 90%;
 padding: 20px 20px;
 color: white;
 text-align: left;
 border-radius: 20px;
 margin: 0 auto;
}

h1 {
 font-size: 3rem;
 text-align: left;
 margin-bottom: 10px;
 
}

.secondSpan{
 display: flex;
 gap: 20px;
 /* background-color: red; */
 height: fit-content;
 padding: 0px 0px;
 width: fit-content;
}
.secondSpan button{
 color: white;
 background-color: red;
 border-radius: 20px;
 padding: 10px 30px;
 /* text-align: center; */
 text-decoration: none;
 margin: 0px;
 font-weight: 700;
 border: none;
}
.loadingText{
 display: none;

}


@media (max-width: 900px){
 #main{
overflow-x: hidden;
 /* background-color: red; */
 width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 0 auto;
padding-top: 0px;
margin: 0 auto;
height: fit-content;

 }
 .firstDiv {
  width: 90%;
  border-radius: 0px;
  margin:20px 5px;
  height: 75vh;
 }
 h1{
  width: 100%;
  font-size: 200%;
 }
}